.card {
  height: 100px;
  min-width: 150px;
  width: calc(100% * (1 / 5) - 10px - 1px);
  background-color: var(--dark-grey);
  color: var(--light-grey);
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}

.card label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card label > span {
  font-weight: bold;
  color: white;
}
