:root {
  --blue-1: #0092bc;
  --dark-grey: #1d1d1d;
  --light-grey: #d0d0d0;
}

.App {
  text-align: center;
}

.full-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
}
